rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Reglas para la colección de FAVORITOS
    match /favorites/{favoriteId} {
      // Permitir CREAR solo si estás logueado y el ID coincide
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      
      // Permitir LEER/BORRAR solo si el favorito es tuyo
      allow read, update, delete: if request.auth != null && resource.data.userId == request.auth.uid;
    }

    // Reglas para USUARIOS
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}